@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Estilos {
    <link href="~/lib/datatables2/css/datatables.datatables.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2-bootstrap-5-theme.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
 
}
<h2 class="mt-4 mb-4">Doctor Horarios</h2>

<div class="row">
    <div class="col-sm-12">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                Doctor Horario
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <button class="btn btn-outline-success" id="btnNuevo">Nuevo Horario</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <table class="display" id="tbData" cellspacing="0" style="width:100%">
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="mdData" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Doctor Horario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <label class="col-form-label">Doctor:</label>
                        <select id="cboDoctor" class="form-select" data-width="100%"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="col-form-label">Mes atencion:</label>
                        <select id="cboMesAtencion" class="form-select" data-width="100%"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="col-form-label">Dias Atención:</label>
                        <textarea type="text" class="form-control" id="txtFechaAtencion" rows="4"></textarea>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <label class="col-form-label">Hora Inicio AM:</label>
                        <input type="text" class="form-control" id="txtHoraInicioAM" autocomplete="off">
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label">Hora Fin AM:</label>
                        <input type="text" class="form-control" id="txtHoraFinAM" autocomplete="off">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="col-form-label">Hora Inicio PM:</label>
                        <input type="text" class="form-control" id="txtHoraInicioPM" autocomplete="off">
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label">Hora Fin PM:</label>
                        <input type="text" class="form-control" id="txtHoraFinPM" autocomplete="off">
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/datatables2/js/moment.min.js"></script>
    <script src="~/lib/datatables2/js/datatables.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="~/views/doctorhorario/doctorhorario.js"></script>

}