@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>404 Error - SB Admin</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="~/lib/fontawesome/all.js"></script>
</head>
<body>
    <div id="layoutError">
        <div id="layoutError_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="text-center mt-4">
                                <h1 class="display-1">401</h1>
                                <p class="lead">Unauthorized</p>
                                <p>No tiene acceso a esta página.</p>
                                @if (User.IsInRole("Administrador"))
                                {
                                    <a asp-controller="Home" asp-action="Index">
                                        <i class="fas fa-arrow-left me-1"></i>
                                        regresar a Dashboard
                                    </a>
                                }
                                else if (User.IsInRole("Paciente"))
                                {
                                    <a asp-controller="Citas" asp-action="Index">
                                        <i class="fas fa-arrow-left me-1"></i>
                                        regresar a Citas
                                    </a>
                                }else if (User.IsInRole("Doctor"))
                                {
                                    <a asp-controller="Citas" asp-action="CitasAsignadas">
                                        <i class="fas fa-arrow-left me-1"></i>
                                        regresar a Citas
                                    </a>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutError_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>
