
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Clinica - Net8</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    @RenderSection("Estilos", required: false)
    <script src="~/lib/fontawesome/all.js"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="#">Clinica</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            @*  <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div> *@
        </form>
        <!-- Navbar-->
        @await Component.InvokeAsync("MenuUsuario")
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        @if (User.IsInRole("Administrador"))
                        {
                            <a class="nav-link" asp-controller="Home" asp-action="Index">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                        }
                        
                        <div class="sb-sidenav-menu-heading">Gestion</div>
                        @if (User.IsInRole("Administrador"))
                        {
                            <a class="nav-link" asp-controller="Usuario" asp-action="Index">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Usuario
                            </a>
                            <a class="nav-link" asp-controller="Especialidad" asp-action="Index">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Especialidad
                            </a>
                            <a class="nav-link" asp-controller="Doctor" asp-action="Index">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Doctor
                            </a>
                            <a class="nav-link" asp-controller="DoctorHorario" asp-action="Index">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Doctor Horario
                            </a>
                        }
                        @if (User.IsInRole("Paciente"))
                        {
                            <a class="nav-link" asp-controller="Citas" asp-action="Index">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Mis Citas
                            </a>
                            <a class="nav-link" asp-controller="HistorialCitas" asp-action="Index">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Historial Citas
                            </a>
                        }

                        @if (User.IsInRole("Doctor"))
                        {
                            <a class="nav-link" asp-controller="Citas" asp-action="CitasAsignadas">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Citas
                            </a>
                        }

                        
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Start Bootstrap
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/lib/sweetalert2/js/sweetalert2.js"></script>
    <script src="~/lib/loadingoverlay/loadingoverlay.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
